body {
	background-color:skyblue;
	color:white;
}

#title {
	text-align:center;
}

.red {
	color:red;
}

#game_area {
    text-align:center;
}

#game_canvas {
    background:white;
    border:solid black 5px;
    border-radius:5px;
}

#ducky {
    position:absolute;
    bottom:0;
}